.searchbar {
	display: flex;
	height: 45px;
}

.searchbar-input {
	background-color: #555555;
	color: white;
	cursor: text;
	font-size: 18px;
	font-weight: 400;
	padding: 12px 20px;
	width: 397px;
	display: block;
	margin-left: 30px;
	border-color: rgb(85, 85, 85);
}

.searchbar-input::placeholder {
	color: white;
	font-weight: 100;
}

.searchbar-button {
	background-color: #555555;
	color: rgb(151, 201, 0);
	font-weight: 400;
	font-size: 16px;
	border: none;
	width: 40px;
	height: 45px;
	border-top: 2px solid black;
}
