.banner {
	background-color: black;
	color: #fff;
	display: flex;
	flex-direction: row;
	padding: 25px 144px 30px;
}
.rei-logo {
	height: 100px;
	width: 100px;
}

.banner-vert {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.banner-horz {
	display: flex;
	justify-content: space-between;
}

hr {
	margin-left: 20px;
}
